.foodtables{
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    font-style: italic;
    border: 1px solid rgb(99, 173, 247);
    border-radius: 20px 20px;
    background:rgb(165, 246, 222);
    background-color: rgb(151, 221, 245)210, 228);
}
.foodtableForm{
    border: 2px solid blue;
    margin: 2em;
    padding: 2em;
    font-size:medium;
    font-weight: bold;
    font-style: italic;
    background:rgb(156, 241, 216);
  }



.button{
    padding: 5px 19px;
    text-align: justify;
    text-decoration-color: rgb(241, 161, 161);
    display: inline-block;
    font-size: 20px;
    margin: 2px 4px;
    cursor: pointer;
  }